{ 
    "WebhookUrl": "https://hooks.slack.com/services/<your hook>", 
    "Username": "<botname>", 
    "Channel": "<slack channel>", 
    "Watchdir": "<log directory", 
    "Filepattern": ".*build-(.*).log", 
    "RTCBaseURL": "https://rtcserver.yourdomain.com/jazz" 
} 
